<div class="header bottom-buffer-10">
    <div class="row-fluid">
        <div class="span4">
            <h1 class="logo">
                <strong>Our Car Store</strong>
                <a href="@Url.Home()" title="Our Car Store" class="logo">
                    <img src="@Url.Content("~/Content/magento/images/logo_neemo.png")" style="height: 71px; width: 355px" alt="Our Car Store">
                </a>
            </h1>
        </div>
        <div class="span8">
            <div class="quick-access">
                <div class="quick-access-left">
                    <ul class="links">
                        <li><a href="@Url.MyAccountDetails()" title="My Account">My Account</a></li>
                        <li>
                            <a href='@Url.MyCart()' title="My Cart">
                                My Cart
                                <span data-bind="if: items().length > 0">
                                    (<span data-bind="text: totalQuantity()"></span>)
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="@ViewBag.CheckoutUrl">Checkout</a>
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            <li><strong>Welcome @User.Identity.Name</strong></li>
                                                    <li>
                                                        <div>
                                                            <form method="POST" action="@Url.Logout()" id="logoutForm">
                                                                @Html.AntiForgeryToken()
                                                                <span>
                                                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                                                        Logout
                                                                    </a>
                                                                </span>
                                                            </form>
                                                        </div>
                                                    </li>
                        }
                        else
                        {
                            <li><a href="@Url.Login()">Login</a></li>
                                                    <li><a href="@Url.Register()">Register</a></li>
                        }
                    </ul>
                    <div class="input-append controls keyword-search">
                        <input id="keyword" name="keyword" type="text" placeholder="Search Keyword">
                        <div class="btn-group" id="searchTypeOptions">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="selected">Parts</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>Parts</li>
                                <li>Wreckers</li>
                                <li>Repairers</li>
                                <li>Auxiliaries</li>
                            </ul>
                        </div>
                        <button class="btn" id="searchBtn" data-loading-text="Please wait...">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                    <br />
                    <span>
                        Tired of Searching? <a href="@Url.ContactUs()">Contact Us</a>
                    </span>
                </div>
                @*Shopping cart*@
                <div class="quick-access-right">
                    <div class="top-cart-wrapper">
                        <div class="top-cart-contain">
                            <div id="mini_cart_block">
                                @Html.Partial("~/Views/Shared/Partial/_CartSummary.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
                @*end shopping cart*@

            </div>
        </div>
    </div>
</div>

